@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $main-gray;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}

header {
  height: 64px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  .left-side {
    height: auto;
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side-item {
      display: inline-block;
      margin: 0;
      padding: 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          display: inline-block;
          margin-right: 24px;

          a:hover {
            text-decoration: underline;
          }
          &:last-child {
          margin-right: 0;
        }
        }
      }
    }
  }

  .right-side {
    height: auto;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-side-item {
      padding: 0;
      display: inline-block;
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }
}

main {
  .content {
    width: 1074px;
    margin: 0 auto;

    .breadcrumbs {
      margin-top: 24px;
      .breadcrumbs-item {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        color: #91A0B6;
        margin-right: 18px;

        &::after {
          content: " > ";
          color: #a6aeb6;
          margin-left: 18px;
        }
      }
    }

    .search-block {
      position: relative;
      background-color: rgba(4, 191, 148, 0.16);
      margin-top: 48px;
      border-radius: 16px;
      padding: 45px 60px 56px;

      .search-title {
        color: #04BF94;
        font-weight: 800;
        font-size: 32px;
      }
      .search-subtitle {
        margin-top: 19px;
        font-weight: 500;
        font-size: 18px;

        b,
        strong {
          font-weight: 700;
        }
      }
      form {
        margin-top: 16px;
        display: flex;
        justify-content: flex-start;

        .search-item {
          border: none;
        }
        #search {
          padding: 16px;
          width: 468px;
          border-radius: 12px 0 0 12px;
        }
        button {
          border-radius: 0 12px 12px 0;
          padding: 0 19px;
          background-color: $white;
          cursor: pointer;
        }
      }

      .search-background {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 380px;
        height: 259px;
      }
    }

    .new {
      margin-top: 48px;
      width: 78px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-weight: 600;
      color: white;
      font-size: 14px;

      background: url("src/img/Rectangle223.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
  }
}

.flex-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  .flex-container-item {
    width: 49%;

    .article-img {
      width: 100%;
      border-radius: 12px;
    }
  }
}

.time {
  color: #ADB8C8;
  font-weight: 400;
  font-size: 16px;
}
.news {
  .news-title {
    margin-top: 8px;
  }
  .news-description {
    margin-top: 16px;
  }
}

.article-description {
  font-weight: 400;
  font-size: 16px;
  color: #78787A;
}