@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $main-gray;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  color: #242424;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
b,
strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

header {
  height: 64px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  .left-side {
    height: auto;
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side-item {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 24px;

        &:last-child {
        margin-right: 0;
      }
      }
    }
  }

  .right-side {
    height: auto;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-side-item {
      padding: 0;
      display: inline-block;
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }
}

main {
  .content {
    width: 1074px;
    margin: 0 auto;

    .breadcrumbs {
      margin-top: 24px;
      .breadcrumbs-item {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        color: #91A0B6;
        margin-right: 18px;

        &::after {
          content: " > ";
          color: #a6aeb6;
          margin-left: 18px;
        }
      }
    }

    .green-block {
      position: relative;
      background-color: rgba(4, 191, 148, 0.16);
      border-radius: 16px;

      .logo {
        margin: 0;
        padding: 0;
      }

      .green-title,
      .green-small-title {
        color: $green;
        font-size: 32px;
      }
      .green-title {
        font-weight: 800;
      }
      .green-small-title {
        font-weight: 500;

      }
      .green-subtitle {
        font-weight: 500;
        font-size: 18px;
      }
      form {
        margin-top: 16px;
        display: flex;
        justify-content: flex-start;

        .search-item {
          border: none;
        }
        #search {
          padding: 16px;
          width: 468px;
          border-radius: 12px 0 0 12px;
        }
        button {
          border-radius: 0 12px 12px 0;
          padding: 0 19px;
          background-color: $white;
          cursor: pointer;
        }
      }
      .green-btn {
        text-transform: capitalize;
        background-color: $green;
        color: white;
      }
      .green-background {
        position: absolute;
      }
      .add-background {
        width: 336px;
        height: 261px;
        top: -9px;
        right: -15px;
      }
      .search-background {
        right: 0;
        bottom: 0;
        width: 380px;
        height: 259px;
      }
    }

    .new {
      margin-top: 48px;
      width: 78px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-weight: 600;
      color: white;
      font-size: 14px;

      background: url("src/img/Rectangle223.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
  }
}

.flex-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  .flex-container-item {
    width: 49%;
  }

  .flex-item-336 {
    width: 336px;

    &:nth-child(n+4) {
      margin-top: 56px;
    }
  }
}

.time {
  color: #ADB8C8;
  font-weight: 400;
  font-size: 16px;
}
.news {
  .news-img {
    width: 100%;
  }
  .news-title {
    margin-top: 8px;
  }
  .news-description {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #78787A;
  }
}

.line-container {
  margin-top: 56px;

  .line {
    height: 1px;
    width: 100%;
    background-color: #C4C4C4;
  }
  .line-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #91A0B6;
    margin-top: 16px;
  }
}
.search-block {
  padding: 45px 60px 56px;
}

footer {
  width: 100%;
  color: #91A0B6;
  margin: 96px 0 16px;

  .footer-wrapper {
    width: 1074px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      display: inline-block;
      margin-right: 24px;

      &:nth-child(-n+2)::after {
        content: '|';
        margin-left: 24px;
      }
    }
  }
}

.radius-12 {
  border-radius: 12px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-19 {
   margin-top: 19px;
 }
.mt-24 {
    margin-top: 24px;
  }
.mt-48 {
     margin-top: 48px;
   }
.mt-56 {
  margin-top: 56px;
}

.flex-wrap {
  flex-wrap: wrap;
}
.btn {
  padding: 8px 32px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  line-height: 24px;
}
.p-24 {
  padding: 24px;
}
