body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  color: #242424;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

b,
strong {
  font-weight: 700;
}

header {
  height: 64px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
header .left-side {
  height: auto;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .left-side .left-side-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
header .left-side .left-side-item ul {
  margin: 0;
  padding: 0;
}
header .left-side .left-side-item ul li {
  list-style: none;
  display: inline-block;
  margin-right: 24px;
}
header .left-side .left-side-item ul li a:hover {
  text-decoration: underline;
}
header .left-side .left-side-item ul li:last-child {
  margin-right: 0;
}
header .right-side {
  height: auto;
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .right-side .right-side-item {
  padding: 0;
  display: inline-block;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

main .content {
  width: 1074px;
  margin: 0 auto;
}
main .content .breadcrumbs {
  margin-top: 24px;
}
main .content .breadcrumbs .breadcrumbs-item {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  color: #91A0B6;
  margin-right: 18px;
}
main .content .breadcrumbs .breadcrumbs-item::after {
  content: " > ";
  color: #a6aeb6;
  margin-left: 18px;
}
main .content .green-block {
  position: relative;
  background-color: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
}
main .content .green-block .logo {
  margin: 0;
  padding: 0;
}
main .content .green-block .green-title,
main .content .green-block .green-small-title {
  color: #04BF94;
  font-size: 32px;
}
main .content .green-block .green-title {
  font-weight: 800;
}
main .content .green-block .green-small-title {
  font-weight: 500;
}
main .content .green-block .green-subtitle {
  font-weight: 500;
  font-size: 18px;
}
main .content .green-block form {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
}
main .content .green-block form .search-item {
  border: none;
}
main .content .green-block form #search {
  padding: 16px;
  width: 468px;
  border-radius: 12px 0 0 12px;
}
main .content .green-block form button {
  border-radius: 0 12px 12px 0;
  padding: 0 19px;
  background-color: #fff;
  cursor: pointer;
}
main .content .green-block .green-btn {
  text-transform: capitalize;
  background-color: #04BF94;
  color: white;
}
main .content .green-block .green-background {
  position: absolute;
}
main .content .green-block .add-background {
  width: 336px;
  height: 261px;
  top: -9px;
  right: -15px;
}
main .content .green-block .search-background {
  right: 0;
  bottom: 0;
  width: 380px;
  height: 259px;
}
main .content .new {
  margin-top: 48px;
  width: 78px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 14px;
  background: url("src/img/Rectangle223.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.flex-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.flex-container .flex-container-item {
  width: 49%;
}
.flex-container .flex-item-336 {
  width: 336px;
}
.flex-container .flex-item-336:nth-child(n+4) {
  margin-top: 56px;
}

.time {
  color: #ADB8C8;
  font-weight: 400;
  font-size: 16px;
}

.news .news-img {
  width: 100%;
}
.news .news-title {
  margin-top: 8px;
}
.news .news-description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #78787A;
}

.line-container {
  margin-top: 56px;
}
.line-container .line {
  height: 1px;
  width: 100%;
  background-color: #C4C4C4;
}
.line-container .line-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #91A0B6;
  margin-top: 16px;
}

.search-block {
  padding: 45px 60px 56px;
}

.radius-12 {
  border-radius: 12px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  padding: 8px 32px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  line-height: 24px;
}

.p-24 {
  padding: 24px;
}

/*# sourceMappingURL=style.css.map */
